{% extends "base_generic.html" %}

{% block dataLayer %}

<script>
    window.dataLayer = window.dataLayer || [];
    window.dataLayer.push({
        'pageType': 'author_detail',
        'author_name': '{{ author.first_name }} {{ author.last_name }}',
        'author_books': '{{ author.book_set.all|length }}'
    })
</script>

{% endblock %}

{% block content %}

<h1>Author: {{ author.first_name }} {{ author.last_name }}</h1>

<div style="margin-left:20px; margin-top:20px">

    <h4>Books by this author</h4>

    {% if author.book_set.all %}

        {% for book in author.book_set.all %}

        <p><a href="{{ book.get_absolute_url }}"><strong>{{ book.title }}</strong></a></p>
        <p class="text-muted" style="font-size:0.8rem; margin-top: -10px;"><strong>Genre(s):</strong> {{ book.genre.all|join:", " }}</p>
        <p style="margin-top: -10px;">{{ book.summary }}</p>

        {% endfor %}

    {% else %}

        <p>This author has no books in the library.</p>

    {% endif %}

</div>

{% endblock %}