{% extends "base_generic.html" %}

{% block dataLayer %}

<script>
    window.dataLayer = window.dataLayer || [];
    window.dataLayer.push({
        'page_type': 'author_list',
        'total_items': '{{ object_list|length }}',
        'total_items_shown': '{{ paginator.count }}',
        'pagination': '{{ paginator.number }} of {{ paginator.num_pages }}'
    })
</script>

{% endblock %}

{% block content %}

<h1>Author List</h1>
{% if author_list %}
<ul>
    {% for author in author_list %}
    <li>
        <a id="{{ author.first_name }} {{ author.last_name }}" href="{{ author.get_absolute_url }}">{{ author.last_name }}, {{ author.first_name }}</a> <i style="color: rgb(149, 149, 149);">({{ author.date_of_birth }} - {{ author.date_of_death }})</i>
    </li>
    {% endfor %}
</ul>
{% else %}
<p>There are no authors in the library.</p>
{% endif %}

{% endblock %}