{% extends "base_generic.html" %}

{% block dataLayer %}

<script>
    window.dataLayer = window.dataLayer || [];
    window.dataLayer.push({
        'pageType': 'author_list',
        'total_items': '{{ object_list|length }}',
        'total_items_shown': '{{ paginator.count }}',
        'pagination': '{{ paginator.number }} of {{ paginator.num_pages }}'
    })
</script>

{% endblock %}

{% block content %}

<h1>Author List</h1>
{% if author_list %}
<ul>
    {% for author in author_list %}
    <li>
        <a href="{{ author.get_absolute_url }}">
            {{ author.last_name }}, {{ author.first_name }} <i>({{ author.date_of_birth }} - {{ author.date_of_death }})</i>
        </a>
    </li>
    {% endfor %}
</ul>
{% else %}
<p>There are no authors in the library.</p>
{% endif %}

{% endblock %}