{% extends "base_generic.html" %}

{% block dataLayer %}

<script>
    window.dataLayer = window.dataLayer || [];
    window.dataLayer.push({
        'pageType': 'book_list',
        'total_items': '{{ object_list|length }}',
        'total_items_shown': '{{ paginator.count }}',
        'pagination': '{{ paginator.number }} of {{ paginator.num_pages }}'
    })
</script>

{% endblock %}

{% block content %}

<h1>Book List</h1>
{% if book_list %}
<ul>
    {% for book in book_list %}
    <li>
        <a href="{{ book.get_absolute_url }}">{{ book.title }}</a>
        ({{ book.author }})
    </li>
    {% endfor %}
</ul>
{% else %}
<p>There are no books in the library.</p>
{% endif %}

{% endblock %}